.app{
  display: grid;
  place-items: center;
  background-color: lightgray;

}

.container{
  width: 100%;
  /* display: flex; */

}

.center-app {
  margin: auto;
  width: 50%;
  background-color: lightgray;
  text-align: center;
}

button{
  width: 80%;
  height: 40px;
  background-color: #E4287C;
  border-radius: 20px;
  color: #D0D3D4;
  font-size: 20px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  border: none;
}

.space_form_component{
  display: flex;
  height: 50px;
  padding-top: 15px;
 
}
label{
  display: block;
  width: 40%;
  font-size: 23px;
}

.added_space{
  margin-bottom: 50px;
}
.myInputs{
  height: 35px;
  width: 55%;
  font-size: 12px;
  outline: 0;
}

.result{
  width: 100%; 
}

.box {
  height: 98%;
  width: 49%;
  margin-left: 1%;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 14px;
  color:white;
}

.blue_color{
  background-color: gray;
}

.red_color{
  background-color: #E4287C;
}


.displayResult {
  width: 80%;
  height: 90px;
  display: flex;
  margin-top: 10px;
  margin-left: 10%;
}






